<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>frshtech</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/custom.css" />
  </head>

  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/"
          ><span class="text-primary">frsh</span>tech</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Find</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- HEADER -->
    <header class="page-header gradient-0">
      <div class="container pt-3">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-5">
            <h2>The best tech ranking</h2>
            <p class="my-4">Find the best product for you in a minute</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Find</a>
          </div>
          <div class="col-md-5 m-4">
            <img
              src="../static/assets/hero_img.svg"
              alt="heading image"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 320"
        class="wave-svg-header-bottom"
      >
        <path
          fill="#ffffff"
          fill-opacity="1"
          d="M0,160L60,181.3C120,203,240,245,360,245.3C480,245,600,203,720,165.3C840,128,960,96,1080,106.7C1200,117,1320,171,1380,197.3L1440,224L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
        ></path>
      </svg>
    </header>
    <!-- Products -->
    <section class="products">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-2">
            <img
              src="../static/assets/products/1.svg"
              alt="product 1"
              class="img-fluid"
            />
          </div>
          <div class="col-md-2">
            <img
              src="../static/assets/products/2.svg"
              alt="product 2"
              class="img-fluid"
            />
          </div>
          <div class="col-md-2">
            <img
              src="../static/assets/products/3.svg"
              alt="product 3"
              class="img-fluid"
            />
          </div>
          <div class="col-md-2">
            <img
              src="../static/assets/products/4.svg"
              alt="product 4"
              class="img-fluid"
            />
          </div>
          <div class="col-md-2">
            <img
              src="../static/assets/products/5.svg"
              alt="product 5"
              class="img-fluid headphones-products"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- Features -->
    <section class="features gradient-1">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 320"
        class="wave-svg-header-top"
      >
        <path
          fill="#fff"
          fill-opacity="1"
          d="M0,160L48,149.3C96,139,192,117,288,101.3C384,85,480,75,576,69.3C672,64,768,64,864,106.7C960,149,1056,235,1152,261.3C1248,288,1344,256,1392,240L1440,224L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"
        ></path>
      </svg>
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-6 d-none d-md-block">
            <img
              src="../static/assets/introducing_frshtech.svg"
              alt="Introducing frshtech"
              class="img-fluid"
            />
          </div>
          <div class="col-md-6">
            <h1 class="my-3">
              Introducing <span class="text-primary">frsh</span>tech
            </h1>
            <p class="my-4">
              Here, there is no beating around the bush. Find the perfect
              product fast, as quality increases with price.
            </p>
            <ul>
              <li>Important search filters for specific gadgets</li>
              <li>Make a list</li>
              <li>Product deal notifications</li>
              <li>Detailed product buying guides</li>
              <li>Questions Forum</li>
            </ul>
          </div>
        </div>
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 320"
        class="wave-svg-header-bottom"
      >
        <path
          fill="#fff"
          fill-opacity="1"
          d="M0,224L48,229.3C96,235,192,245,288,256C384,267,480,277,576,288C672,299,768,309,864,266.7C960,224,1056,128,1152,128C1248,128,1344,224,1392,272L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
        ></path>
      </svg>
    </section>
    <!-- users -->
    <section class="users">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-4 pt-5">
            <div class="icon gradient-icon mb-4">
              <img
                src="https://img.icons8.com/ios/50/ffffff/console.png"
                alt="mac terminal"
              />
            </div>
            <h3>For Professionals</h3>
            <p>
              Setup guides for proffessional users with features like
              compatibility identifiers, specifications customizers, setup
              builder, etc.
            </p>
          </div>
          <div class="col-md-4 pt-5">
            <div class="icon gradient-icon mb-4">
              <img
                src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-vitaly-gorbachev/60/ffffff/external-student-female-profession-vitaliy-gorbachev-lineal-vitaly-gorbachev-1.png"
                alt="student"
              />
            </div>
            <h3>For Students</h3>
            <p>
              Gadgets chosen to provide fast speed, security and essential
              features for students.
            </p>
          </div>
          <div class="col-md-4 pt-5">
            <div class="icon gradient-icon mb-4">
              <img
                src="https://img.icons8.com/ios/50/ffffff/multicultural-people.png"
                alt="people"
              />
            </div>
            <h3>For Everyone</h3>
            <p>
              Find the perfect gadget for you fast. Easily look for key factors
              with the help of the guide.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Gallery -->
    <section class="gallery gradient-1">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 320"
        class="wave-svg-header-top"
      >
        <path
          fill="#fff"
          fill-opacity="1"
          d="M0,192L80,213.3C160,235,320,277,480,298.7C640,320,800,320,960,293.3C1120,267,1280,213,1360,186.7L1440,160L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"
        ></path>
      </svg>
      <div class="container">
        <div class="row text-center mt-3 justify-content-center">
          <div class="col-md-10">
            <h1>Flagships of 2021</h1>
          </div>
        </div>
        <div class="row my-3 g-3">
          <div class="col-md-4">
            <img
              src="../static/assets/Gallery/phone.jpg"
              alt="iphone 13 pro max"
              class="img-fluid"
            />
          </div>
          <div class="col-md-4">
            <img
              src="../static/assets/Gallery/laptop.jpg"
              alt="macbook air"
              class="img-fluid"
            />
          </div>
          <div class="col-md-4">
            <img
              src="../static/assets/Gallery/console.jpg"
              alt="playstation 5"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 320"
        class="wave-svg-header-bottom"
      >
        <path
          fill="#fff"
          fill-opacity="1"
          d="M0,224L80,229.3C160,235,320,245,480,229.3C640,213,800,171,960,154.7C1120,139,1280,149,1360,154.7L1440,160L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
        ></path>
      </svg>
    </section>

    <!-- Contact me -->
    <section class="contact">
      <div class="container mb-5">
        <div class="row justify-content-between">
          <div class="col-md-5">
            <h1>Contact Us</h1>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="name@example.com"
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label"
                >Message for us</label
              >
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
              ></textarea>
            </div>
            <input
              class="btn btn-primary gradient-0 submit-btn"
              type="submit"
              value="Submit"
            />
          </div>
          <div class="col-md-5">
            <img
              src="../static/assets/contact_us.svg"
              alt="Contact us"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="gradient-footer">
      <div class="container-fluid text-center p-2">
        <span>© 2021 | frshtech.com</span>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
